/* Prevent scroll on narrow devices */
html, body {
  overflow-x: hidden;
}


/* Set up font */
html {
   font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

/* Font style of headings, from lanyon */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 700; /* I want bolder font, original 400 */
  color: #313131;
  letter-spacing: -.025rem;
}


/*
 * content
 *
 * Center the page content.
 */


@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

/*
 * Sidebar
 *
 */
.sidebar {
    text-align: center;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: .875rem;
    color: rgba(255, 255, 255, .6);
    background-color: #202020;
    }

@media (min-width: 48em) {
    .sidebar {
        text-align: left;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15rem;    
    }
}


/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: #fff;
}
.sidebar-item {
  padding: 1rem;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* sidebar-title */
.sidebar-title h1, .sidebar-title a {
    color: #fff;
    margin-top: 0rem;
    font-size: 1.75rem;
    font-weight: 700;
}


/* Sidebar nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}


@media (min-width: 48em) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }
}


.page {
    margin-top: 4em;
    margin-bottom: 4em;
}

/* Blog post or page title */
.page-title {
  color: #303030;
  margin-top: 0;
}

