<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

    <div class="sidebar-item">
    <div class="sidebar-title">
        <h1>
            <a href="{{ site_baseurl }}/"> {{ site_title }} </a>
        </h1>
    </div>
        <p>{{ site_description }}</p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="{{ site_baseurl }}/">Home</a>
        {{{ content }}}
    </nav>

</div>
